<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <title>Электронные таблицы / oasis.io</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel='stylesheet' href='../assets/css/slick.grid.css'>
    <link rel='stylesheet' href='../assets/css/helpers.css'>
    <link rel='stylesheet' href='../assets/css/styleguide.css'>
    <link rel='stylesheet' href='../assets/css/spectrum.css'>
    <link rel='stylesheet' href='../assets/css/pikaday.css'>
    <link rel='stylesheet' href='../assets/css/style.css'>

    <link rel="icon" href="../favicon.png" type="image/png">
    <script src="../assets/js/vendor/modernizr-2.5.3.min.js"></script>

</head>
<body>
<!-- Общий шаблон страницы ------------------------------------------------------------------------->
<script type="text/x-handlebars">
        <header id="header">
        {{partial "app/menu"}}
    </header>

    <div class="layoutWithColumn clearfix">
         {{outlet}}
    </div>


<!-- НАЧАЛО Попапов ---------------------------------------------------------------->


        <div id="serverStatus" class="error"><p>Соединение с сервером потеряно</p></div>
        <div id="savingStatus">Сохраняем…</div>
        <div class="overlay"></div>

        <div id="shareSpreadsheetPopup" class="popup popup_shareSpreadsheet">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3>Настройка совместного доступа</h3>
        <form action="#" class="defaultForm_popup" method="post">
            <fieldset>
                <h4>Ссылка на таблицу:</h4>
                <input class="textbox" type="text" name="shareSpreadsheetName" value="http://oasis.io/caw3eokekfpcxova-wqwelrawelrjcpvvalwejrslvjaoseprkqwexzcjkpqwi" id="shareSpreadsheetName" readonly>
            </fieldset>
            <fieldset>
                <h4>Пользователи, имеющие доступ к таблице:</h4>
                <table class="defaultTable defaultTable_shareUsers">
                    <tr>
                        <td>Timberlake</td>
                        <td>mail@gmail.com</td>
                        <td>
                            <select class="select" name="shareType">
                                <option value="">Администратор</option>
                                <option value="">Владелец</option>
                                <option value="">Редактор</option>
                            </select>
                        </td>
                        <td class="noBorder">
                            <a href="javascript:void(0)" class="js-shareDeleteUser btn_circle_delete btn_circle_delete-active"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Anthony_x</td>
                        <td>example@yandex.ru</td>
                        <td>
                            <select class="select" name="shareType">
                                <option value="">Администратор</option>
                                <option value="" selected>Владелец</option>
                                <option value="">Редактор</option>
                            </select>
                        </td>
                        <td class="noBorder">
                            <a href="javascript:void(0)" class="js-shareDeleteUser btn_circle_delete btn_circle_delete-active"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Boomba</td>
                        <td>mail@gmail.ru</td>
                        <td>
                            <select class="select" name="shareType">
                                <option value="">Администратор</option>
                                <option value="">Владелец</option>
                                <option value="" selected>Редактор</option>
                            </select>
                        </td>
                        <td class="noBorder"><a href="javascript:void(0)" class="js-shareDeleteUser btn_circle_delete btn_circle_delete-active"></a></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset id="shareControls">
                <a href="javascript:void(0)" class="link_ajax js-modalOpen" data-show-popup="popup_shareUserAdd">Добавить пользователей</a>
                <a href="../accounts/index.html">Управление пользователями</a>
            </fieldset>
            <fieldset class="defaultForm__field_padding">
                <input type="submit" class="btn defaultForm__btn_enter" value="Сохранить">
                <div class="defaultForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
            </fieldset>
        </form>
    </div>

        <div id="shareAddUsersPopup" class="popup popup_shareUserAdd">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3 class="tCenter">Добавить пользователей</h3>
        <form action="#" class="defaultForm_popup" method="post">
            <fieldset>
                <input class="textbox" type="text" name="addUser" id="shareUserFind" value="" placeholder="Найти пользователя">
            </fieldset>
            <fieldset>
                <div class="scroller__wrapper">
                    <div class="scroller popup_shareUserScrollableList">
                        <table class="defaultTable defaultTable_selectable">
                            <tr><td><input type="checkbox" name="user[]"></td><td>Timberlake</td><td>mail@gmail.com</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Anthony_x</td><td>example@yandex.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Boomba</td><td>mail@gmail.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Hoxeal</td><td>admin@oasis.io</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Papa IX</td><td>kostantin.konstantinopolskii@gmail.com</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Timberlake</td><td>mail@gmail.com</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Anthony_x</td><td>example@yandex.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Boomba</td><td>mail@gmail.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Hoxeal</td><td>admin@oasis.io</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Papa IX</td><td>kostantin.konstantinopolskii@gmail.com</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Timberlake</td><td>mail@gmail.com</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Anthony_x</td><td>example@yandex.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Boomba</td><td>mail@gmail.ru</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Hoxeal</td><td>admin@oasis.io</td></tr>
                            <tr><td><input type="checkbox" name="user[]"></td><td>Papa IX</td><td>kostantin.konstantinopolskii@gmail.com</td></tr>
                        </table>
                        <div class="scroller__track">
                            <div class="scroller__bar"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

        <div id="renameSpreadsheetPopup" class="popup popup_renameSpreadsheet">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3>Переименовать таблицу</h3>
        <form action="#" class="defaultForm_popup" method="post">
            <fieldset class="renameFieldset">
                <label class="defaultForm__textboxLabel" for="currentSpreadsheetName">Новое имя</label>
                <input class="textbox" type="text" name="currentSpreadsheetName" value="" id="currentSpreadsheetName">
            </fieldset>
            <fieldset class="defaultForm__field_padding">
                <input id="js-spreadsheetRenameConfirm" type="submit" class="btn defaultForm__btn_enter" value="Переименовать">
                <div class="defaultForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
            </fieldset>
        </form>
    </div>

        <div id="historyVersionsPopup" class="popup popup_historyVersionsSpreadsheet">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3>Предыдущие версии таблицы</h3>
        <table class="defaultTable defaultTable_selectable defaultTable_history">
            <thead>
                <tr>
                    <th>Версии</th>
                    <th>Дата сохранения</th>
                    <th>Размер</th>
                </tr>
            </thead>
            <tbody id="js-historyVersionsTable">
                <tr class="selected">
                    <td><a href="../tables/index.html" target="_blank">Версия 11</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 10</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 9</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 8</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 7</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 6</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 5</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
                <tr>
                    <td><a href="../tables/index.html" target="_blank">Версия 4</a></td>
                    <td>20.01.2012 в 10:10</td>
                    <td>1.05 мб</td>
                </tr>
            </tbody>
        </table>
        <div class="popup_historyVersionsSpreadsheet__actions">
            <a href="javascript:void(0)" class="btn btn_red_light btn_medium" id="createTableCopyWithVersion">Создать копию</a>
            <a href="javascript:void(0)" class="js-modalClose defaultForm__btn_cancel">Отмена</a>
        </div>
    </div>

        <div id="copyPopup" class="popup popup_copySpreadsheet">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3>Предупреждение</h3>
        <form action="#" class="defaultForm_popup" method="post">
            <div id="popupConfirmText">
                <p>Выбрано более <span id="js-countCopyFiles"></span> файлов. <br> Вы действительно хотите создать копии выбранных таблиц?</p>
            </div>
            <fieldset class="defaultForm__field_padding">
                <input id="js-copySpreadsheetsConfirm" type="button" class="btn defaultForm__btn_enter" value="Скопировать">
                <div class="defaultForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
            </fieldset>
        </form>
    </div>



        <div id="truncateTrashSpreadsheetPopup" class="popup popup_truncateTrashSpreadsheet">
        <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
        <h3>Предупреждение</h3>
        <form action="#" class="defaultForm_popup" method="post">
            <div id="popupConfirmText">
                <p>Вы действительно хотите очистить корзину? <br> Все удаленные таблицы пропадут и вы не сможете их восстановить.</p>
            </div>
            <fieldset class="defaultForm__field_padding">
                <input id="js-speadsheetTruncateTrashConfirm" type="button" class="btn defaultForm__btn_enter" value="Очистить">
                <div class="defaultForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
            </fieldset>
        </form>
    </div>



</script>
<!----------------------------------------------------------------------------------------------->


<!---------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------->

<!-- JavaScript plugins (requires jQuery) -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="../assets/js/vendor/jq-plugins/chosen.js"></script>
<script src="../assets/js/vendor/jq-plugins/jquery.placeholder.min.js"></script>

<script src="../assets/js/vendor/jq-plugins/jquery.baron.min.js"></script>

<script src="../assets/js/bootstrap-scrollspy-oasis-mod.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/vendor/moment.js"></script>

<!-- Google Realtime API -------------------------------->
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="../js/libs/respond.min.js"></script>
<script src="../js/libs/html5shiv.js"></script>
<!-- template engine -->
<script src="/js/libs/ember/plugins/handlebars-1.0.0.js"></script>
<!-- Ember.js -->
<script src="/js/libs/ember/ember.js"></script>
<!-- Load language engine -->
<script src="/js/libs/ember/plugins/i18n.js"></script>
<!-- Load language engine -->
<script src="/js/libs/indexedDB/Linq2IndexedDB.js"></script>
<!-- Load and initialize application js script -->


<!-------------------------------- script only to table route                    -->
<script src="../assets/js/vendor/slickgrid/lib/jquery.event.drag-2.2.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.core.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.dataview.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.formatters.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.editors.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.pager.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.columnpicker.js"></script>
<script src="../assets/js/vendor/slickgrid/slick.groupitemmetadataprovider.js"></script>

<script src="../assets/js/vendor/slickgrid/plugins/slick.rowselectionmodel.js"></script>
<script src="../assets/js/vendor/slickgrid/plugins/slick.cellrangedecorator.js"></script>
<script src="../assets/js/vendor/slickgrid/plugins/slick.cellrangeselector.js"></script>
<script src="../assets/js/vendor/slickgrid/plugins/slick.cellcopymanager.js"></script>
<script src="../assets/js/vendor/slickgrid/plugins/slick.cellselectionmodel.js"></script>
<script src="../assets/js/vendor/slickgrid/plugins/slick.autotooltips.js"></script>
<script src="/js/libs/slick.cellexternalcopymanager.js"></script>

<script src="../assets/js/vendor/slickgrid/slick.grid.js"></script>
<script src="/js/libs/ext.overlays.js"></script>


<script src="../assets/js/vendor/spectrum.js"></script>

<script src="../assets/js/app-jquery/formatting.js"></script>


<!-- Поддержка формул ---------------------------------------->
<script type="text/javascript" src="/js/libs/jstat.js"></script>
<script type="text/javascript" src="/js/libs/lodash.min.js"></script>
<script type="text/javascript" src="/js/libs/numeral/numeral.min.js"></script>
<script type="text/javascript" src="/js/libs/numeral/languages.min.js"></script>
<script type="text/javascript" src="/js/libs/numeric.min.js"></script>
<script type="text/javascript" src="/js/libs/underscore.string.min.js"></script>
<script type="text/javascript" src="/js/libs/formula.js"></script>
<script type="text/javascript" src="/js/libs/pikaday.js"></script>


<script src="/js/libs/spreadsheet.core.js"></script>
<script src="/js/libs/efp/efp.js"></script>
<script src="/js/libs/spreadsheet.slick.js"></script>

<script src="/js/libs/table.formula.utils.js"></script>
<script src="/js/libs/sonic.js"></script>

<!------------------------------------------------------------- -->

<!-- Not more using !!! -->
<!--<script src="../assets/js/app-jquery/grid.column.js"></script>-->

<!--<script src="../assets/js/app-jquery/table.js"></script>-->





<script src="/js/application.js"></script>


<script>
    window.Oasis = {};
      App.User = App.UserModel.create(
//           'id': 99,
//           'login': 'user',
//           'email': 'email@email.com',
//           'password': '1'
          {{user}}
    );

</script>

<script src="../assets/js/oasis.js"></script>

    <script type="text/x-handlebars" id="spreadsheetsList-template">
        {{#if spreadsheetsList}}
            {{#each spreadsheetsList}}
            <tr data-id="{{id}}">
                <td class="checkboxCell"><input type="checkbox"></td>
                <td><a href="/tables/index.html">{{filename}}</a></td>
                <td>{{lastEdit_text}}</td>
                <td>{{owner}}</td>
            </tr>
            {{/each}}
        {{else}}
            <tr>
                <th class="tCenter" colspan="4">Кажется, что у вас еще нет таблиц. Чтобы начать работу, пожалуйста, нажмите "Создать таблицу"</th>
            </tr>
        {{/if}}
    </script>


<script src="../assets/js/app-jquery/spreadsheets.js"></script>


<!-- ------------------------------------------------------------------------------------------------------------------>
</body>
</html>