<div class="layoutWithColumn__leftColumn">
    <a {{action 'createSpreadsheet'}} class="btn btn_small btn_green" id="createTable" href="javascript:void(0)">Создать
        таблицу</a>
    <ul class="nav" id="js-spreadsheetsTypes">
        <li>{{#link-to "app.spreadsheets" 'all'}}Все таблицы{{/link-to}}</li>
        <li>{{#link-to "app.spreadsheets" 'delete'}}Удаленные{{/link-to}}</li>
    </ul>
</div>
<div class="layoutWithColumn__wrapper">
    <nav class="actionMenu">
        <ul class="nav_horizontal" id="js-spreadsheetsAllActions">
            <li><a {{bind-attr class="isDisabledActions:disabled"}} href="javascript:void(0)"
                                                                    id="js-spreadsheetOpen"><span
                    class="icon-open"></span> Открыть</a></li>
            <li><a {{bind-attr class="isDisabledActions:disabled"}} href="javascript:void(0)"
                                                                    id="js-spreadsheetShare"><span
                    class="icon-share"></span> Поделиться</a></li>
            <li><a {{bind-attr class="isDisabledActions:disabled"}} href="javascript:void(0)" id="js-spreadsheetRename"><span
                    class="icon-rename"></span> Переименовать</a></li>
            <li><a {{bind-attr class="isDisabledActions:disabled"}} href="javascript:void(0)"
                                                                    id="js-spreadsheetHistory"><span
                    class="icon-history"></span> История изменений</a></li>
            <li>
                <a {{bind-attr class="isDisabledActions:disabled"}}
                    {{action 'copySpreadsheets'}}
                        href="javascript:void(0)"
                        id="js-spreadsheetCopy">
                    <span class="icon-copy"></span> Создать копию
                </a>
            </li>
            <li><a {{bind-attr class="isDisabledActions:disabled :js-modalOpen"}}
                {{action 'show_modal_delete' target=view}}
                    href="javascript:void(0)" id="js-spreadsheetDelete" data-show-popup="popup_deleteSpreadsheet"><span
                    class="icon-delete"></span> Удалить</a></li>
        </ul>
        <ul class="nav_horizontal hidden" id="js-spreadsheetsDeletedActions">
            <li><a class="disabled" href="#" id="js-speadsheetRestore"><span class="icon-restore"></span>
                Восстановить</a></li>
            <li><a class="disabled js-modalOpen" href="#" id="js-speadsheetDeleteForever"
                   data-show-popup="popup_deleteForeverSpreadsheet"><span class="icon-delete"></span> Удалить
                безвозвратно</a></li>
            <li><a class="js-modalOpen" href="#" id="js-speadsheetTruncateTrash"
                   data-show-popup="popup_truncateTrashSpreadsheet"><span class="icon-truncate"></span> Очистить корзину</a>
            </li>
        </ul>
    </nav>
    <div class="layoutWithColumn__wrapper_scroll scroller">
        <table class="defaultTable defaultTable_selectable defaultTable_spreedsheet unselectable">
            <thead>
            <tr>
                <th class="checkboxCell">
                    {{view Ember.Checkbox checked=isSelectedAllSpreadsheets}}
                </th>
                <th>Название файла</th>
                <th>Последнее изменение</th>
                <th>Владелец</th>
            </tr>
            </thead>
            <tbody id="js-spreadsheetsList">
            {{yield}}
            </tbody>
        </table>

        <div class="scroller__track">
            <div class="scroller__bar"></div>
        </div>
    </div>
</div>

<!-- POPUPS -->

<div id="deletePopup" class="popup popup_deleteSpreadsheet">
    <a href="javascript:void(0)" {{action 'hide_modal_delete' target=view}} class="js-modalClose popup__close"></a>

    <h3>Предупреждение</h3>

    <form action="#" class="defaultForm_popup" method="post">
        <div id="popupConfirmText">
            <p>Вы действительно хотите удалить эти таблицы? Вы сможете восстановить данные в будущем в разделе
                "Удаленные".</p>
        </div>
        <fieldset class="defaultForm__field_padding">
            <input id="js-spreadsheetDeleteConfirm" {{action 'deleteSpreadsheets'}} type="button"
                   class="btn defaultForm__btn_enter" value="Удалить">

            <div class="defaultForm__btn_cancel"><input class="js-modalClose" {{action 'hide_modal_delete' target=view}}
                                                        type="button" value="Отмена"></div>
        </fieldset>
    </form>
</div>

<div id="deleteForeverPopup" class="popup popup_deleteForeverSpreadsheet">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>

    <h3>Предупреждение</h3>

    <form action="#" class="defaultForm_popup" method="post">
        <div id="popupConfirmText">
            <p>Вы действительно хотите удалить эти таблицы? Вы не сможете отменить это действие в будущем, ваши данные
                пропадут.</p>
        </div>
        <fieldset class="defaultForm__field_padding">
            <input id="js-spreadsheetDeleteForeverConfirm" type="button" class="btn defaultForm__btn_enter"
                   value="Удалить">

            <div class="defaultForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
        </fieldset>
    </form>
</div>