
{{#if model.spreadsheetsList}}
            {{#each spreadsheet in  model.spreadsheetsList}}
            <tr {{bind-attr data-id="spreadsheet.id"}}>
                <td class="checkboxCell">
                    {{view Ember.Checkbox checked=spreadsheet.selected}}
                </td>
                <td>{{#link-to "app.table" spreadsheet.id }}{{spreadsheet.filename}}{{/link-to}}</td>
                <td>{{spreadsheet.lastEdit_text}}</td>
                <td>{{spreadsheet.owner}}</td>
            </tr>
            {{/each}}
        {{else}}
            <tr>
                <th class="tCenter" colspan="4">Кажется, что у вас еще нет таблиц. Чтобы начать работу, пожалуйста, нажмите "Создать таблицу"</th>
            </tr>
        {{/if}}