<h3>{{view.title}}</h3>
<div class="modal_content">
    {{view.message}}
</div>
<fieldset class="hide_show__button">
    <a id="numberFormattingButton" {{action 'ok' target='view'}} class="btn authForm__btn_enter">Да</a>
    <div class="authForm__btn_cancel">
        <input class="js-modalClose" {{action 'cancel' target='view'}} type="button" value="Отмена">
    </div>
</fieldset>