<div class="wrapper wrapper_header">
            <a class="current-parent logo" href="../index.html">OASIS</a>
            <ul class="header__asideMenu nav_horizontal">
                <li>
                    <a data-toggle="dropdown" href="javascript:void(0)"><i class="ico_ask"></i></a>
                    <ul id="helpMenu" class="dropdown-menu dropdown_help">
                        <li><a href="../help.html">Справка</a></li>
                        <li><a href="javascript:void(0)">Форум</a></li>
                        <li><a href="../feedback.html">Форма обратной связи</a></li>
                    </ul>
                </li>
                <li>


                    <a class="header__asideMenu__menuButton" data-toggle="dropdown" href="javascript:void(0)">Меню</a>
                    <ul id="helpMenu" class="dropdown-menu dropdown_help hasParserError">


                        <li class='current-parent'>
                            {{#link-to "app.spreadsheets" "all"}}Электронные таблицы{{/link-to}}
                        </li>
                        <li class="parser-error">
                            {{#link-to "app.parser"}}Правила обработки почты{{/link-to}}
                        </li>
                        <li>{{#link-to "app.accounts"}}Управление пользователями{{/link-to}}</li>
                        <li>{{#link-to "app.logs"}}Журнал изменений{{/link-to}}</li>
                        <li>{{#link-to "app.profile"}}Профиль и настройки{{/link-to}}</li>

                    </ul>
                </li>
            </ul>


            <h1 id="pageTitle" {{bind-attr class=controller.title_class}}>{{controller.title}}</h1>

        </div>