{{view App.AppTableSidebarView grid=view.grid activeCell=view.activeCell cellCssStyles=view.globalCellCssStyles}}
<div class="layoutWithColumn__wrapper scroller__wrapper">
    <div class="layoutWithColumn__wrapper_scroll">
        <div id="tableHeader">
            {{#with view}}
                <a {{action 'undo' target=view}} {{bind-attr class=":actionLink :withoutRightMargin existUndo::disable"}} >
                    <span class="table_ico ico_back"></span>
                </a>
                <a  {{action 'redo' target=view}} {{bind-attr class=":actionLink existRedo::disable"}}>
                    <span class="table_ico ico_prev"></span>
                </a>
           {{/with}}
            <select class="select">
                <option value="">D7</option>
                <option value="">E1</option>
                <option value="">A2</option>
                <option value="">C3</option>
            </select>
            <a id="showFilter" class="actionLink" href="javascript:void(0)">
                <span class="table_ico ico_filter"></span>
                <span class="hide_for_small_screen">Фильтр</span>
            </a>
            <a class="actionLink" href="javascript:void(0)">
                <span class="table_ico ico_sort"></span>
                <span class="hide_for_small_screen">Сортировка</span>
            </a>
            <a class="actionLink" href="javascript:void(0)">
                <span class="table_ico ico_sum"></span>
                <span class="hide_for_small_screen">Сумма</span>
            </a>
            <a {{action 'setFunction' target=view}} id="setFunction" class="actionLink">
                <span class="table_ico ico_function"></span>
                <span class="hide_for_small_screen">Функции</span>
            </a>

            <div class="table_function_input">
                {{input value=view.active_string_val type="text" class="textbox" id="active_string_input" placeholder='-' }}
            </div>
        </div>

        <div class="table_body_wrapper">
            <div id="tableBody" class="table_body">

            </div>
        </div>

        <div id="controler">
            <div class="table_prev"></div>
            <div class="table_next"></div>
            <div class="table_list__wrapper">
                <div class="table_other"></div>
                {{#each wSheet in worksheetList}}
                    <div {{action 'switchWorksheet' wSheet.id}} {{bind-attr class=":table_list wSheet.isCurrent:active"}}  >{{wSheet.title}}</div>
                {{/each}}
                <div class="table_other"></div>
            </div>
            <a {{action 'createWorksheet'}} class="js-addNewTable btn_circle_plus" href="javascript:void(0)"></a>
        </div>
    </div>
</div>

<div id="lockedRegionPopup" class="popup locked_region_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Закрепление областей</h3>
    <div class="locked_region__wrapper">
        <div class="locked_region__menu">
            {{#with view}}
                <a {{bind-attr class="isFrozenRows:active :checkboxFieldset"}} href="javascript:void(0)">
                    {{input type="checkbox" id="locked_region_row" checked=isFrozenRows}}
                    <label for="locked_region_row">Закрепить</label>
                </a>
                <a {{bind-attr class="isFrozenColumns:active :checkboxFieldset"}} href="javascript:void(0)">
                    {{input type="checkbox" id="locked_region_column" checked=isFrozenColumns}}
                    <label for="locked_region_column">Закрепить</label>
                </a>
            {{/with}}
        </div>
        <div>
            <select class="select rows">
                <option value="1">Первую строку</option>
                <option value="2">Первые 2 строки</option>
                <option value="3">Первые 3 строки</option>
                <option value="4">Первые 4 строки</option>
                <option value="5">Первые 5 строк</option>
            </select>
            <select class="select columns">
                <option value="1">Первый столбец</option>
                <option value="2">Первые 2 столбца</option>
                <option value="3">Первые 3 столбца</option>
                <option value="4">Первые 4 столбца</option>
                <option value="5">Первые 5 столбцов</option>
            </select>
        </div>
    </div>

    <fieldset class="hide_show__button">
        <a {{action 'frozen_rows_columns' on="mouseDown" target="view"}} href="javascript:void(0);" class="btn authForm__btn_enter">Сохранить</a>
        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>

{{view view.popupCommentView grid=view.grid commentData=view.globalCommentData}}
{{view App.AppTableFunctionView}}

