<div class="layoutWithColumn__leftColumn" id="tableLeftColumn">
    <nav id="tableTabs">
        <ul>
            <li><a class="tableTabs__home active" {{action 'change_tab' false target='view' on='mouseDown'}} href="javascript:void(0)"><span class="icon"></span>Главная</a></li>
            <li><a class="tableTabs__actions" {{action 'change_tab' true target='view' on='mouseDown'}} href="javascript:void(0)"><span class="icon"></span>Действия</a></li>
            <li id="tableTabsSwitcher" {{action 'switch_sidebar' on='mouseDown' target='view'}}><span class="triangle triangle-left"></span></li>
        </ul>
    </nav>

    <div id="js-tableTabs__home">
        <div class="scroller">

            <h2>Правка</h2>

            <div id="tableLeftColumn__editBox" class="box_with2_lines">
                <a id="cellCut" {{action 'copy_cut' true target='view' on='mouseDown'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_cut"></span>
                    <span>Вырезать</span>
                </a>
                <a id="cellCopy" {{action 'copy_cut' false target='view' on='mouseDown'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_copy"></span>
                    <span>Копировать</span>
                </a>
                <div class="withMarginTop10">
                    <a id="cellPaste" {{action 'paste' target='view' on='mouseDown'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_paste"></span>
                        <span>Вставить</span>
                    </a>
                </div>
            </div>
            <h2>Формат</h2>

            <div id="tableLeftColumn__formatBox">
                <select id="setFontFamily" class="select" {{action 'change_font_family' on="change" target="view"}}>
                    <option value="" selected>По умолчанию</option>
                    <option value="font_family__Arial">Arial</option>
                    <option value="font_family__ComicSansMS">Comic Sans MS</option>
                    <option value="font_family__CourierNew">Courier New</option>
                    <option value="font_family__Georgia">Georgia</option>
                    <option value="font_family__Impact">Impact</option>
                    <option value="font_family__Tahoma">Tahoma</option>
                    <option value="font_family__TrebuchetMS">Trebuchet MS</option>
                    <option value="font_family__TimesNewRoman">Times New Roman</option>
                    <option value="font_family__Verdana">Verdana</option>
                </select>
                <select id="setFontSize" class="select" {{action 'change_font_size' on="change" target="view"}}>
                    <option value="font_size8">8</option>
                    <option value="font_size9">9</option>
                    <option value="font_size10">10</option>
                    <option value="font_size11">11</option>
                    <option value="font_size12">12</option>
                    <option value="font_size14" selected>14</option>
                    <option value="font_size16">16</option>
                    <option value="font_size18">18</option>
                    <option value="font_size20">20</option>
                    <option value="font_size22">22</option>
                    <option value="font_size24">24</option>
                    <option value="font_size26">26</option>
                    <option value="font_size28">28</option>
                    <option value="font_size36">36</option>
                    <option value="font_size48">48</option>
                    <option value="font_size72">72</option>
                </select>

                <div class="font_style_elements">
                    <div id="setFontStyle">
                        <a class="actionLink with_border" data-id="font_bold" {{action 'set_font_style' 'font_bold' on='mouseDown' target='view'}} >
                            <span class="table_ico size21 ico_bold"></span>
                        </a>
                        <a class="actionLink with_border" data-id="font_italic" {{action 'set_font_style' 'font_italic' on='mouseDown' target='view'}}>
                            <span class="table_ico size21 ico_italic"></span>
                        </a>
                        <a class="actionLink with_border" data-id="font_underline" {{action 'set_font_style' 'font_underline' on='mouseDown' target='view'}}>
                            <span class="table_ico size21 ico_underline"></span>
                        </a>
                    </div>
                    <div id="setAlignStyle">
                        <a class="actionLink with_border" data-id="text_left" {{action 'set_align_style' 'text_left' on='mouseDown' target='view'}}>
                            <span class="table_ico size21 ico_columnLeft"></span>
                        </a>
                        <a class="actionLink with_border" data-id="text_center" {{action 'set_align_style' 'text_center' on='mouseDown' target='view'}}>
                            <span class="table_ico size21 ico_columnMid"></span>
                        </a>
                        <a class="actionLink with_border" data-id="text_right" {{action 'set_align_style' 'text_right' on='mouseDown' target='view'}}>
                            <span class="table_ico size21 ico_columnRight"></span>
                        </a>
                    </div>
                </div>

                <div class="colorsWrapper withMarginTop10">
                    <div class="inputs">
                        <div id="setBgColor">
                            <div class="color">
                                <input id="fontColorPanel" type="text" {{action 'change_bg_color' target='view' on='change'}}>
                            </div>
                            <div class="checkbox_field">
                                {{view Ember.Checkbox checked=view.is_bg_color}}
                                <label class="icon"  {{action 'label_change_bg_color' target='view' on='click'}}></label>
                            </div>

                        </div>
                        <div id="setFontColor">
                            <div class="color">
                                <input id="textColorPanel" type="text" {{action 'change_text_color' target='view' on='change'}}>
                            </div>
                            <div class="checkbox_field">
                                {{view Ember.Checkbox checked=view.is_text_color}}
                                <label class="icon" {{action 'label_change_text_color' target='view' on='click'}}></label>
                            </div>
                        </div>
                    </div>
                    <div class="labels_checkbox">
                        <div><label {{action 'label_change_bg_color' target='view' on='click'}}>Цвет фона</label></div>
                        <div><label {{action 'label_change_text_color' target='view' on='click'}}>Цвет текста</label></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="setColorWrapper" class="labels withMarginTop10">
                    <a {{action 'set_bg_color_wrapper' '' target='view'}} class="label label-simple" href="javascript:void(0)">Обычный</a>
                    <a {{action 'set_bg_color_wrapper' 'bgcolor25' target='view'}} class="label label-green" href="javascript:void(0)">Зеленый</a>
                    <a {{action 'set_bg_color_wrapper' 'bgcolor10' target='view'}} class="label label-pink" href="javascript:void(0)">Розовый</a>
                    <a {{action 'set_bg_color_wrapper' 'bgcolor23' target='view'}} class="label label-brown" href="javascript:void(0)">Коричневый</a>
                    <a {{action 'set_bg_color_wrapper' 'bgcolor34' target='view'}} class="label label-yellow" href="javascript:void(0)">Желтый</a>
                    <a {{action 'set_bg_color_wrapper' 'bgcolor18' target='view'}} class="label label-blue" href="javascript:void(0)">Голубой</a>
                </div>

                <h3>Задать границы ячеек</h3>

                <div class="border_style">
                    <a {{action 'set_border_cell' 'borderFull' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderFull"></span>
                    </a>
                    <a {{action 'set_border_cell' 'borderSides' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderSides"></span>
                    </a>
                    <a {{action 'set_border_cell' 'borderTop' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderTop"></span>
                    </a>
                    <a {{action 'set_border_cell' 'borderLeft' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderLeft"></span>
                    </a>
                    <a {{action 'set_border_cell' 'borderRight' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderRight"></span>
                    </a>
                    <a {{action 'set_border_cell' 'borderBottom' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderBottom"></span>
                    </a>
                    <a {{action 'set_border_cell' '' target='view'}} class="actionLink">
                        <span class="table_ico size21 ico_borderNone"></span>
                    </a>
                </div>
                <div class="withMarginTop20">
                    <a class="actionLink" {{action 'formatting_by_stamp' target='view'}} href="javascript:void(0)">
                        <span class="table_ico ico_templateformat"></span>
                        <span class="actionLinkText">Формат по образцу</span>
                    </a>
                </div>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
    </div>
    <div id="js-tableTabs__actions">
        <div class="scroller_actions">
            <h2>ячейки</h2>

            <div id="tableLeftColumn__cellBox" class="box_with2_lines">
                <a {{action 'change_lock_cells' true target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_lock"></span>
                    <span>Защитить</span>
                </a>
                <a {{action 'change_lock_cells' false target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_unlock"></span>
                    <span>Снять защиту</span>
                </a>
            </div>
            <div class="withMarginTop10">
                <a  {{action 'add_notes' target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_addNote"></span>
                    <span>Добавить примечание</span>
                </a>
            </div>
            <div class="withMarginTop10">
                <a {{action 'remove_notes' target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_addNote"></span>
                    <span>Удалить примечания</span>
                </a>
            </div>
            <h2>Строки</h2>

            <div id="tableLeftColumn__rowBox" class="box_with2_lines">
                <a data-id="addTableRow" {{action 'add_table_row' target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_pasteCell"></span>
                    <span>Вставить</span>
                </a>
                <a data-id="removeTableRow" {{action 'remove_table_row' target='view'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_removeCell"></span>
                    <span>Удалить</span>
                </a>
            </div>
            <div class="withMarginTop10">
                <a {{action 'open_modal_change_row_height' target='view' on='mouseDown'}} class="actionLink" href="javascript:void(0)">
                    <span class="table_ico ico_wraptext"></span>
                    <span>Высота строки</span>
                </a>
            </div>
            <h2>столбцы</h2>

            <div id="tableLeftColumn__colomnBox">
                <div class="box_with2_lines">
                    <a {{action 'add_column' false target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_pasteColumn"></span>
                        <span>Вставить</span>
                    </a>
                    <a {{action 'remove_columns' target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_removeColumn"></span>
                        <span>Удалить</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'open_modal_hidden_column' on='mouseDown' target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_hideShowColumn"></span>
                        <span>Скрыть или показать</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'add_column' true target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_newField"></span>
                        <span>Новое поле комментариев</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'open_modal_formatter' on='mouseDown' target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_valuesformat"></span>
                        <span>Форматирование значений</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'open_modal_conditional' on='mouseDown' target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_condformat"></span>
                        <span>Условное форматирование</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'open_modal_validation' on='mouseDown' target='view'}} class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_check"></span>
                        <span>Проверка вводимых данных</span>
                    </a>
                </div>
            </div>
            <h2>Таблица</h2>

            <div id="tableLeftColumn__tableBox">
                <div class="withMarginTop10">
                    <a id="addNewTable" class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_newTable"></span>
                        <span>Создать новую</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_renameTable"></span>
                        <span>Переименовать</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a {{action 'setAccess' target=view}} id="setAccess" class="actionLink">
                        <span class="table_ico ico_setAccess"></span>
                        <span>Настройка доступа</span>
                    </a>
                </div>
                <div class="withMarginTop10">
                    <a id="showHistory" class="actionLink" href="javascript:void(0)">
                        <span class="table_ico ico_historicChange"></span>
                        <span>История изменений</span>
                    </a>
                </div>
            </div>
            <div class="scroller_active__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" id="js-hideTablePanels" {{action 'switch_sidebar' on='mouseDown' target='view'}} class="link_ajax hideTablePanels">Скрыть</a>
</div>
<!-- Context Menu -->
<ul id="contextMenu" style="display:none;position:absolute" oncontextmenu="return false;">
    <li id="contextCellCopy" {{action 'copy_cut' true target='view' on='mouseDown'}}>Вырезать</li>
    <li id="contextCellCopy" {{action 'copy_cut' false target='view' on='mouseDown'}}>Копировать</li>
    <li id="contextCellPaste"{{action 'paste' true target='view' on='mouseDown'}}>Вставить</li>
    <li data="High">Специальная вставка</li>
    <hr>
    <li data="Low">Вставить комментарий</li>
    <li data="Medium">Вставить примечание</li>
    <li data="High">Удалить примечание</li>
    <hr>
    <li data="Low">Условное форматирование</li>
    <li data="Medium">Проверка данных</li>
</ul>
<!-- Popups -->
<div id="js_cell_note_textarea" class="cell_note_box"
        {{action 'cell_note_focus' on="mouseEnter" target="view"}}>
    <div {{action 'cell_note_focus_live' on="mouseLeave" target="view"}}>
        <textarea
            {{action 'cell_note_blur' on="focusOut" target="view"}}></textarea>
        <div class="scroller_table__track">
            <div class="scroller__bar"></div>
        </div>
    </div>
</div>
<div id="js__validator_hint_message" class="hint_message_block">
    {{hint_block_message}}
</div>

<!-- Views -->
{{view view.modalValidationDataModalView grid=view.grid activeCell=view.activeCell}}
{{view view.modalHiddenColumnsView columns=view.columns grid=view.grid}}
{{view view.modalConditionalFormattingView grid=view.grid}}
{{view view.modalChangeRowHeightModalView grid=view.grid}}
{{view view.modalNumberFormattingView}}
{{view App.AppTableAccessView model=controller.content}}
{{view App.AppTableAddUserView model=controller.content}}
