<div class="conditional_formatting_row">
    <div class="input_formatting_text">
        <span class="block_title">Если</span>

        {{view Ember.Select
        content=view.current_conditional_types
        optionLabelPath="content.label"
        optionValuePath="content.value"
        selection=view.current_conditional_type
        class="select select_conditional_type"}}
        {{#with view}}
            {{#each current_inputs}}
                {{#if label}}
                    <h4>
                        {{#compare label 'min'}}
                        {{! {{t 'label.min'}) }}
                            минимум
                        {{/compare}}
                        {{#compare label 'max'}}
                        {{! {{t 'label.max'}) }}
                            максимум
                        {{/compare}}
                    </h4>
                {{/if}}
                <input {{bind-attr type=type pattern=view.patternInput}}
                    {{action 'change_condition_value' on='keyUp' target='view'}} class="textbox input_condition_value"/>
            {{/each}}
        {{/with}}
    </div>
    <div class="apply_color">
        <span class="block_title">Установить цвета</span>

        <div class="colorsWrapperConditional">
            <div class="color">
                {{input class="colorpicker bg_color" value=view.bg_color}}
            </div>
            <div class="checkbox_field">
                {{view Ember.Checkbox checked=view.isBgColor}}
                <label class="icon" {{action 'toggle_color' 'isBgColor' target='view'}}></label>
            </div>
            <label {{action 'toggle_color' 'isBgColor' target='view'}}>Цвет фона</label>
            <div class="color">
                {{input class="colorpicker font_color" value=view.font_color}}
            </div>
            <div class="checkbox_field">
                {{view Ember.Checkbox checked=view.isFontColor}}
                <label class="icon" {{action 'toggle_color' 'isFontColor' target='view'}}></label>
            </div>
            <label {{action 'toggle_color' 'isFontColor' target='view'}}>Цвет текста</label>
            <a {{action 'remove_rule' target='view'}} class="actionLink removeRule" href="javascript:void(0);">Удалить</a>
        </div>
    </div>
</div>