<div id="conditionalFormattingModal" class="popup conditional_formatting_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>

    <h3>Условное форматирование</h3>

    {{#if view.form_error_msg}}
        <div class="modal_error_center">{{view.form_error_msg}}</div>
    {{/if}}

    <div class="conditional_formatting__wrapper">
        <div class="scroller_conditional">
            {{#each rule in view.conditional_rules}}
                {{view view.ruleView model=rule}}
            {{/each}}
            <a {{action 'add_conditional_rule' target='view'}} href="javascript:void(0);">Добавить еще одно правило</a>

            <div class="scroller_conditional__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
    </div>


    <fieldset class="hide_show__button">
        <a {{action 'apply_conditional_formatting' on='mouseDown' target='view'}} href="javascript:void(0);" class="btn authForm__btn_enter">Сохранить</a>

        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>