<div id="hideShowColumnPopup" class="popup popup_hide_show_column">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Скрыть или показать столбцы</h3>
    <div class="hide_show__row_wrapper">
        <div id="hide_show__row_container" class="hideShow_scroller">
            <div class="hide_show__header">
                <div>Столбцы</div>
                <div>отображение</div>
            </div>
            {{#each view.columnsClone}}
                <div class="hide_show__row">
                    <div class="hide_show__row_name">
                        <strong>{{name}}</strong>
                        <span></span>
                    </div>
                    <div {{action 'toggleState' this target='view'}} {{bind-attr data-columnid="id" class=":scroll_button__wrapper hidden::active"}}>
                        <div class="scroll_button__content">
                            <div class="scroll_button__hide">Скрыт</div>
                            <div class="scroll_button__show">Показан</div>
                        </div>
                        <span class="scroll_button"></span>
                    </div>
                </div>
            {{/each}}
            <div class="scroller_hideShow__track"><div class="scroller__bar"></div></div>
        </div>
    </div>
    <fieldset class="hide_show__button">
        <a {{action 'save' target='view'}} href="javascript:void(0)" class="btn authForm__btn_enter">Сохранить</a>
        <div class="authForm__btn_cancel"><input {{action 'cancel' target='view'}} class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>
