<div id="numberFormattingPopup" class="popup number_formatting_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>

    <h3>Числовое форматирование</h3>

    <div class="number_formatting__wrapper">
        <div class="number_formatting__menu">
            <a data-id="number_formatting" class="actionLink active"
                {{action 'set_filter' 'number_formatting' target='view'}}>Числа</a>
            <a data-id="currency_formatting" class="actionLink"
                {{action 'set_filter' 'currency_formatting' target='view'}}>Валюта</a>
            <a data-id="percent_formatting" class="actionLink"
                {{action 'set_filter' 'percent_formatting' target='view'}}>Проценты</a>
            <a data-id="datetime_formatting" class="actionLink"
                {{action 'set_filter' 'datetime_formatting' target='view'}}>Дата и время</a>
            <a data-id="bytes_formatting" class="actionLink"
                {{action 'set_filter' 'bytes_formatting' target='view'}}>Байты</a>
        </div>
        <div class="number_formatting__content_wrapper">
            <div>
                <div class="formatting_table">
                    <table class="table_popup_header">
                        <thead>
                            <tr>
                                <th style="width:192px;"><div>Формат</div></th>
                                <th><div>Результат</div></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scroller_table">
                        <table class="table_popup">
                            <tbody class="active" data-id="number_formatting">
                                <tr {{action 'select_formatting' '0,0.0000' target='view'}} class="cursor_pointer" data-formatter="0,0.0000">
                                    <td style="width:200px;"><div>'0,0.0000'</div></td>
                                    <td><div data-val="10000">10000 = {{view.formatting_values.numbers.num1}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0,0' target='view'}} class="cursor_pointer" data-formatter="0,0">
                                    <td><div>'0,0'</div></td>
                                    <td><div data-val="10000.23">10000.23 = {{view.formatting_values.numbers.num2}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '+0,0' target='view'}} class="cursor_pointer" data-formatter="+0,0">
                                    <td><div>'+0,0'</div></td>
                                    <td><div data-val="10000.23">10000.23 = {{view.formatting_values.numbers.num3}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0,0.0' target='view'}} class="cursor_pointer" data-formatter="0,0.0">
                                    <td><div>'0,0.0'</div></td>
                                    <td><div data-val="-10000">-10000 = {{view.formatting_values.numbers.num4}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.000' target='view'}} class="cursor_pointer" data-formatter="0.000">
                                    <td><div>'0.000'</div></td>
                                    <td><div data-val="10000.1234">10000.1234 = {{view.formatting_values.numbers.num5}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0[.]00000' target='view'}} class="cursor_pointer" data-formatter="0[.]00000">
                                    <td><div>'0[.]00000'</div></td>
                                    <td><div data-val="10000.1234">10000.1234 = {{view.formatting_values.numbers.num6}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '(0,0.0000)' target='view'}} class="cursor_pointer" data-formatter="(0,0.0000)">
                                    <td><div>'(0,0.0000)'</div></td>
                                    <td><div data-val="-10000">-10000 = {{view.formatting_values.numbers.num7}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '.00' target='view'}} class="cursor_pointer" data-formatter=".00">
                                    <td><div>'.00'</div></td>
                                    <td><div data-val="-0.23">-0.23 = {{view.formatting_values.numbers.num8}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '(.00)' target='view'}} class="cursor_pointer" data-formatter="(.00)">
                                    <td><div>'(.00)'</div></td>
                                    <td><div data-val="-0.23">-0.23 = {{view.formatting_values.numbers.num9}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.00000' target='view'}} class="cursor_pointer" data-formatter="0.00000">
                                    <td><div>'0.00000'</div></td>
                                    <td><div data-val="0.23">0.23 = {{view.formatting_values.numbers.num10}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.0[0000]' target='view'}} class="cursor_pointer" data-formatter="0.0[0000]">
                                    <td><div>'0.0[0000]'</div></td>
                                    <td><div data-val="0.23">0.23 = {{view.formatting_values.numbers.num11}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.0a' target='view'}} class="cursor_pointer" data-formatter="0.0a">
                                    <td><div>'0.0a'</div></td>
                                    <td><div data-val="1230974">1230974 = {{view.formatting_values.numbers.num12}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0 a' target='view'}} class="cursor_pointer" data-formatter="0 a">
                                    <td><div>'0 a'</div></td>
                                    <td><div data-val="1460">1460 = {{view.formatting_values.numbers.num13}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0a' target='view'}} class="cursor_pointer" data-formatter="0a">
                                    <td><div>'0a'</div></td>
                                    <td><div data-val="-104000">-104000 = {{view.formatting_values.numbers.num14}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0o' target='view'}} class="cursor_pointer" data-formatter="0o">
                                    <td><div>'0o'</div></td>
                                    <td><div data-val="1">1 = {{view.formatting_values.numbers.num15}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0o' target='view'}} class="cursor_pointer" data-formatter="0o">
                                    <td><div>'0o'</div></td>
                                    <td><div data-val="52">52 = {{view.formatting_values.numbers.num16}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0o' target='view'}} class="cursor_pointer" data-formatter="0o">
                                    <td><div>'0o'</div></td>
                                    <td><div data-val="23">23 = {{view.formatting_values.numbers.num17}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0o' target='view'}} class="cursor_pointer" data-formatter="0o">
                                    <td><div>'0o'</div></td>
                                    <td><div data-val="100">100 = {{view.formatting_values.numbers.num18}}</div></td>
                                </tr>
                            </tbody>
                            <tbody data-id="currency_formatting">
                                <tr {{action 'select_formatting' '$0,0.00' target='view'}} class="cursor_pointer" data-formatter="$0,0.00">
                                    <td style="width:200px;"><div>'$0,0.00'</div></td>
                                    <td><div data-val="1000.234">1000.234 = {{view.formatting_values.currencys.curr1}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0,0[.]00 $' target='view'}} class="cursor_pointer" data-formatter="0,0[.]00 $">
                                    <td><div>'0,0[.]00 $'</div></td>
                                    <td><div data-val="1000.2">1000.2 = {{view.formatting_values.currencys.curr2}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '$ 0,0[.]00' target='view'}} class="cursor_pointer" data-formatter="$ 0,0[.]00">
                                    <td><div>'$ 0,0[.]00'</div></td>
                                    <td><div data-val="1001">1001 = {{view.formatting_values.currencys.curr3}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '($0,0)' target='view'}} class="cursor_pointer" data-formatter="($0,0)">
                                    <td><div>'($0,0)'</div></td>
                                    <td><div data-val="-1000.234">-1000.234 = {{view.formatting_values.currencys.curr4}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '$0.00' target='view'}} class="cursor_pointer" data-formatter="$0.00">
                                    <td><div>'$0.00'</div></td>
                                    <td><div data-val="-1000.234">-1000.234 = {{view.formatting_values.currencys.curr5}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '($ 0.00 a)' target='view'}} class="cursor_pointer" data-formatter="($ 0.00 a)">
                                    <td><div>'($ 0.00 a)'</div></td>
                                    <td><div data-val="1230974">1230974 = {{view.formatting_values.currencys.curr6}}</div></td>
                                </tr>
                            </tbody>
                            <tbody data-id="percent_formatting">
                                <tr {{action 'select_formatting' '0%' target='view'}} class="cursor_pointer" data-formatter="0%">
                                    <td style="width:200px;"><div>'0%'</div></td>
                                    <td><div data-val="1">1 = {{view.formatting_values.percents.perc1}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.000%' target='view'}} class="cursor_pointer" data-formatter="0.000%">
                                    <td><div>'0.000%'</div></td>
                                    <td><div data-val="0.974878234">0.974878234 = {{view.formatting_values.percents.perc2}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0 %' target='view'}} class="cursor_pointer" data-formatter="0 %">
                                    <td><div>'0 %'</div></td>
                                    <td><div data-val="-0.43">-0.43 = {{view.formatting_values.percents.perc3}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '(0.000 %)' target='view'}} class="cursor_pointer" data-formatter="(0.000 %)">
                                    <td><div>'(0.000 %)'</div></td>
                                    <td><div data-val="0.43">0.43 = {{view.formatting_values.percents.perc4}}</div></td>
                                </tr>
                            </tbody>
                            <tbody data-id="datetime_formatting">
                                <tr {{action 'select_formatting_date' 'YYYY' target='view'}} class="cursor_pointer" data-formatter="YYYY">
                                    <td style="width:200px;"><div>'YYYY'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date1}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'YYYY-MM-DD' target='view'}} class="cursor_pointer" data-formatter="YYYY-MM-DD">
                                    <td><div>'YYYY-MM-DD'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date2}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'YYYY/MM/DD' target='view'}} class="cursor_pointer" data-formatter="YYYY/MM/DD">
                                    <td><div>'YYYY/MM/DD'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date3}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'hh:mm' target='view'}} class="cursor_pointer" data-formatter="hh:mm">
                                    <td><div>'hh:mm'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date4}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'hh:mm:ss' target='view'}} class="cursor_pointer" data-formatter="hh:mm:ss">
                                    <td><div>'hh:mm:ss'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date5}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'h:mm:ss a' target='view'}} class="cursor_pointer" data-formatter="h:mm:ss a">
                                    <td><div>'h:mm:ss a'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date6}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'YYYY-MM-DD hh:mm:ss' target='view'}} class="cursor_pointer" data-formatter="YYYY-MM-DD hh:mm:ss">
                                    <td><div>'YYYY-MM-DD hh:mm:ss'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date7}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting_date' 'dddd, MMMM Do YYYY, h:mm:ss a' target='view'}} class="cursor_pointer" data-formatter="dddd, MMMM Do YYYY, h:mm:ss a">
                                    <td><div>'dddd, MMMM Do YYYY, h:mm:ss a'</div></td>
                                    <td><div data-val="1399270077132">{{view.formatting_values.datetime.date8}}</div></td>
                                </tr>
                            </tbody>
                            <tbody data-id="bytes_formatting">
                                <tr {{action 'select_formatting' '0b' target='view'}} class="cursor_pointer" data-formatter="0b">
                                    <td style="width:200px;"><div>'0b'</div></td>
                                    <td><div data-val="100">100 = {{view.formatting_values.bytes.byte1}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0 b' target='view'}} class="cursor_pointer" data-formatter="0 b">
                                    <td><div>'0 b'</div></td>
                                    <td><div data-val="2048">2048 = {{view.formatting_values.bytes.byte2}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.0b' target='view'}} class="cursor_pointer" data-formatter="0.0b">
                                    <td><div>'0.0b'</div></td>
                                    <td><div data-val="7884486213">7884486213 = {{view.formatting_values.bytes.byte3}}</div></td>
                                </tr>
                                <tr {{action 'select_formatting' '0.000 b' target='view'}} class="cursor_pointer" data-formatter="0.000 b">
                                    <td><div>'0.000 b'</div></td>
                                    <td><div data-val="3467479682787">3467479682787 = {{view.formatting_values.bytes.byte4}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="scroller_table__track">
                            <div class="scroller__bar"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="user_formatting">
            <label for="userFormatting">Применить свой формат</label>
            {{view Ember.TextField class="textbox" type="text" value=view.selected_formatting}}
        </div>
        <br/>
    </div>
    <fieldset class="hide_show__button">
        <a id="numberFormattingButton" {{action 'apply_format' target='view'}} class="btn authForm__btn_enter">Применить</a>

        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>