<div id="changeRowHeightPopup" class="popup popup_hide_show_column">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Изменение высоты строк</h3>

    <form action="#" class="authForm authForm_popup defaultForm_popup" onsubmit="javascript:void(0);">
        <fieldset>
            <label class="authForm__textboxLabel" for="registerLogin">Высота, пикселей:</label>
             {{input type="number" class="textbox" value=view.current_height}}
        </fieldset>
        <fieldset class="authForm__field_padding authForm__field_remember">
            <div class="authForm__show-pass"><a {{action 'reset' target='view'}} href="javascript:void(0)">Сбросить по умолчанию</a>
        </fieldset>
        <fieldset class="authForm__field_padding">
            <a {{action 'save' target='view'}} href="javascript:void(0)" class="btn authForm__btn_enter">Сохранить</a>
        <div class="authForm__btn_cancel"><input {{action 'cancel' target='view'}} class="js-modalClose" type="button" value="Отмена"></div>
        </fieldset>
    </form>
</div>
