<div id="validatorDataModal" class="popup number_formatting_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>

    <h3>Проверка вводимых данных</h3>

    {{#if view.form_error_msg}}
        <div class="modal_error_center">{{view.form_error_msg}}</div>
    {{/if}}

    <div class="number_formatting__wrapper">
        <div class="number_formatting__menu">
            <a data-id="text" class="actionLink active"
                {{action 'set_type' 'text' target='view'}}>Текст</a>
            <a data-id="date" class="actionLink"
                {{action 'set_type' 'date' target='view'}}>Дата</a>
            <a data-id="number" class="actionLink"
                {{action 'set_type' 'number' target='view'}}>Числа</a>
        </div>
        <div class="number_formatting__content_wrapper">
            <div class="number_formatting">
                {{#if view.isNumberType}}
                    {{#with view}}
                        <div class="radio_box">
                            <input type="radio" {{bind-attr checked=isInteger}} />
                            <label {{action 'change_is_integer' true target='view'}}>Целое</label>
                        </div>
                        <div class="radio_box">
                            <input type="radio" {{bind-attr checked=isFloat}} />
                            <label {{action 'change_is_integer' false target='view'}}>Действительное</label>
                        </div>
                    {{/with}}
                {{/if}}
                <div class="number_formatting__select_wrapper">
                    <div class="number_formatting__select_column">
                        <h4>Значение</h4>
                        {{view Ember.Select
                            content=view.current_validator_types
                            optionLabelPath="content.label"
                            optionValuePath="content.value"
                            selection=view.current_validator_type
                            class="select select_validator_type"}}
                    </div>
                    <div class="number_formatting__select_column validation_condition_data">
                        {{#with view}}
                            {{#each current_inputs}}
                                {{#if label}}
                                    <h4>
                                        {{#compare label 'min'}}
                                            {{! {{t 'label.min'}) }}
                                            минимум
                                        {{/compare}}
                                        {{#compare label 'max'}}
                                            {{! {{t 'label.max'}) }}
                                            максимум
                                        {{/compare}}
                                    </h4>
                                {{else}}
                                    <div>&nbsp</div>
                                {{/if}}
                                <input {{bind-attr type=type pattern=view.patternInput}}
                                    {{action 'change_validation_value' on='keyUp' target='view'}} class="textbox"/>
                            {{/each}}
                        {{/with}}
                    </div>
                </div>
                <div>
                    {{view Em.Checkbox checked=view.isShowHint}}
                    <label {{action 'toggle_is_show_hint' on='mouseDown' target='view'}}>Когда ячейка выделена, выводить текст подсказки:</label>
                </div>
                {{input class="textbox input_hint_msg" value=view.hint_msg disabled="disabled"}}

                <div>
                    {{view Em.Checkbox checked=view.isAllowOnlyValidValue}}
                    <label {{action 'toggle_is_only_valid_data' on='mouseDown' target='view'}}>Не давать ввести неправильное число, показывать ошибку:</label>
                </div>
                {{input class="textbox input_validate_error_msg" value=view.validate_error_msg disabled="disabled"}}
            </div>
        </div>
    </div>
    <fieldset class="hide_show__button">
        <a id="numberFormattingButton" {{action 'apply_validation' target='view'}}
           class="btn authForm__btn_enter">Применить</a>

        <div class="defaultForm__btn_cancel"><input {{action 'remove_validation' target='view'}} type="button" value="Удалить проверку"></div>
        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>