<div id="accessPopup" class="popup access_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Предыдущие версии таблицы</h3>
    <h4>Ссылка на таблицу:</h4>

    {{input id="linkTableInput" class="textbox" type="text" value= controller.linkToTable }}


    <h4>Пользователи, имеющие доступ к таблице:</h4>
    <div class="access_table_scroll_wrapper">
        <div class="access_table_scroll">
            <table class="access_table_popup">
                <tbody>
                    {{#each view.model.users}}
                        <tr>
                            <td>{{value}}</td>
                            <td style="padding: 0 10px;">{{value}}</td>
                            <td style="width:200px;">
                                {{view Ember.Select
                                        content=view.roles
                                        optionValuePath="content.id"
                                        optionLabelPath="content.name"
                                        value=role
                                        class="select-dif hidden"}}
                                <div class="chzn-container chzn-container-single chzn-container-active"
                                     style="width: 0px;" title="">
                                    <a {{action 'show_popup_roles' this on="mouseDown" target='view'}} href="javascript:void(0)" class="chzn-single unone" tabindex="-1">
                                        <span class="unone">{{findAndGetValueByKeyFromObjectArray view.roles 'id' role 'name'}}</span>
                                        <div class="unone"><b class="unone"></b></div>
                                    </a>
                                </div>
                            </td>
                            <td style="width:45px;padding: 0 10px;">
                                <a class="btn_circle_delete" href=""></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="scroller_table__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
    </div>
    <div id="popup_roles" class="chzn-drop">
        <ul class="chzn-results">
            {{#each view.roles}}
                <li {{action 'change_role' this target='view'}} class="active-result result-selected ember-view"
                    style="">
                    {{name}}
                </li>
            {{/each}}
        </ul>
    </div>
    <a  {{action 'addNewUser' target=view}} id="addNewUser" class="user_link cursor_pointer" >Добавить пользователей</a>
    <a id="controlUsers" class="user_link cursor_pointer" >Управление пользователями</a>

    <fieldset class="hide_show__button">
        <a  {{action 'saveAccess' target=view}} id="accessButton"  class="btn authForm__btn_enter">Сохранить</a>
        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>