<div id="addUserPopup" class="popup add_user_popup">  
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Добавить пользователей</h3>
    {{input class="textbox" type="text" value=view.addShareUser placeholder="Имя пользователя или e-mail" }}

    <!--<table class="table_popup">-->
        <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Timberlake</td>-->
                <!--<td>mail@gmail.com</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Anthony_x</td>-->
                <!--<td>example@yandex.ru</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Boomba</td>-->
                <!--<td>mail@gmail.com</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>    -->
    <fieldset class="hide_show__button">
        <a {{action 'addUserButton' target=view}} id="addUserButton"  class="btn authForm__btn_enter">Добавить</a>
        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>