<div id="commentTooltip" class="comment-tooltip">
    <div class="comment_row__wrapper">
        <div class="scroller_table">
            {{#each view.comments}}
            <div class="comment_row" {{bind-attr data-id="id"}}>
                <strong class="comment-author">{{author}}</strong>
                <span class="comment-date">
                    {{momentCalendar date}}
                </span>

                <p class="comment-text">{{text}}</p>
                {{#if isMyComment}}
                    <div class="comment-button">
                        <a class="btn_circle_edit" {{action 'edit_comment' this target='view'}} href="javascript:void(0)"></a>
                        <a class="btn_circle_delete" {{action 'delete_comment' this target='view'}} href="javascript:void(0)"></a>
                    </div>
                {{/if}}
            </div>
            {{/each}}
            <div class="scroller_table__track"><div class="scroller__bar"></div></div>
        </div>
    </div>
    {{view Ember.TextArea value=view.text id="commentTooltipText" class="textbox"}}
    <fieldset class="hide_show__button">
        <a {{action 'save_comment' target='view'}} href="javascript:void(0)" class="btn authForm__btn_enter">Отправить</a>

        <div class="authForm__btn_cancel"><input {{action 'close_popup' on='mouseDown' target='view'}} type="button" value="Отмена"></div>
    </fieldset>
    <span>Ctrl+Enter</span>
</div>

