<div id="functionPopup" class="popup function_popup">
    <a href="javascript:void(0)" class="js-modalClose popup__close"></a>
    <h3>Функции</h3>
    <div class="number_formatting__wrapper">
        <div class="number_formatting__menu">
            {{#with view}}
                {{#each types}}
                    <a {{action 'selectTypeFunction' id target=view}} {{bind-attr class="isActive:active :cursor_pointer"}}>{{name}}</a>
                {{/each}}
            {{/with}}
        </div>
        <div class="number_formatting__content_wrapper">
            <div id="often_used">
                {{#with view}}
                    <div class="formatting_table">
                        <div class="scroller_function functin_name">
                            {{#each formulesFiltered}}
                                <div {{action 'selectFunction' id target=view}} {{bind-attr class="isActive:active"}}>{{title}}</div>
                            {{/each}}
                            <div class="scroller_function__track">
                                <div class="scroller__bar"></div>
                            </div>
                        </div>
                    </div>

                    {{#with currentActiveFunc}}
                        <div class="user_formatting" style="height:100px;">
                            <span>{{title}} </span>
                            <strong>{{params}}</strong>
                            <p>{{description}}</p>
                        </div>
                    {{/with}}

                {{/with}}
            </div>
        </div>
    </div>
    <fieldset class="hide_show__button">
        <a  {{action 'applyFunction' target=view}} id="functionButton"  class="btn authForm__btn_enter">Применить</a>
        <div class="authForm__btn_cancel"><input class="js-modalClose" type="button" value="Отмена"></div>
    </fieldset>
</div>
