/* ==========================================================================
    helpers.css
    @author: Alexey Shestakov <har.Storm@mail.ru>
    @description: List of helper classes for clearfix, browse promt and etc
                  Список классов-помощников для быстрой разработки. Включает clerfix, уведомление для старых браузеров и т.д

    $CONTENTS (Оглавление)
    ========================================================================== */

/**
*   CONTENTS............ You’re reading it!
*   BROWSER PROMT ...... Styles for browser promt. Showed for IE < 8, and others olders version if they not provided needed functionality
*   HELPERS ............ Helper classes for various functionality
*   PLUGINS ............ Styles for some jquery.plugins
*       CHOOSEN ........ Styles for custom selects
*       SCROLL (Baron) . Styles for custom scrollbars
*       RESIZABLE ...... Styles for resizable elements Jquery UI
*       SLICKGRID ...... Styles for slickGrid
*       TOOLTIPS ....... Styles for tooltips
*       FANCYBOX ....... Styles for fancybox
*/

/* ==========================================================================
   $BROWSER PROMT (Уведомления для устаревших браузеров)
   @browser: little than IE8
   ========================================================================== */

.browsehappy {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

/* ==========================================================================
   $HELPERS (Класс-помощники)
   ========================================================================== */

.hr {
    background: #e5e5e5;
    border: 0; 
    display: block;
    margin: 14px 0;
    height: 1px;
    box-shadow: none;
    width: 100%;
}

.displayBlock {
  display: block;
}

.displayInlineBlock {
  display: inline-block;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.tCenter {
  text-align: center !important;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.noBorder {
    border: none !important;
}

.link_blank {
    color: #000;
}

.strong {
    font-weight: bold;
    font-weight: 700;
}


/*
 * Image replacement. Use it for logo
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
    .ir:before {
        content: "";
        display: block;
        height: 150%;
        width: 0;
    }


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.grayBg {
    background: #f6f6f6;
}

.marginTop30 {
    margin-top: 30px !important;
}

.link_ajax {
    color: #333;
    border-bottom: 1px dotted #333;
    text-decoration: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabledLabel {
    cursor: default !important;
}

#savingStatus {
    background: #f1f1f1;
    font: normal 11px/16px "Segoe UI Light", "Segoe UI",  Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #666;
    display: none;
    position: absolute;
    padding: 0 7px;
    right: 0;
    bottom: 0;
    width: auto;
}

#serverStatus {
    display: none;
    position: fixed;
    left: 0;
    top: 48px;
    text-align: center;
    height: 35px;
    width: 100%;
}
    #serverStatus.error {
        background: #f7d7c7;
        border-bottom: 2px solid #e2aa8f;
    }
    #serverStatus.success {
        background: #e3f3da;
        border-bottom: 2px solid #75c345;
    }
    #serverStatus p {
        color: #000;
        font-size: 14px;
        line-height: 35px;
        padding: 0;
        margin: 0;
    }

/* ==========================================================================
   $PLUGINS 
        $CHOOSEN
   ========================================================================== */

/*  
*
*   Choosen plugin. Used for custom selects
*   Используется для кастомных селектов
*
*/

.chzn-container {
    color: #000;
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
    min-width: 289px !important;
}

    .chzn-container .chzn-drop {
        background-color: #fff;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: -9999px;
        top: 100%;
        width: 100%;
        z-index: 10002;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

.chzn-container.chzn-with-drop .chzn-drop {
    left: 0;
}
    .chzn-container-single .chzn-single {
        background-color: rgba(255, 255, 255, 0.97);
        border: 1px solid #d2d2d2 !important;
        box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        color: #333;
        display: block;
        font-size: 14px;
        height: 33px;
        line-height: 31px;
        overflow: hidden;
        padding: 0 10px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        z-index: 9999;

        -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .chzn-container-single .chzn-default {
        color: #999;
    }

    .chzn-container-single .chzn-single span {
        display: block;
        margin-right: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }

    .chzn-container-single .chzn-single abbr {
        display: block;
        font-size: 1px;
        height: 12px;
        position: absolute;
            right: 26px;
            top: 6px;
        width: 12px;
    }

    .chzn-container-single .chzn-single div {
        display: block;
        height: 100%;
        position: absolute;
            right: 0;
            top: 0;
        width: 18px;
    }

        .chzn-container-single b {
            border: 1px solid #373737;
            border-right: 0;
            border-top: 0;
            display: block;
            height: 7px;
            position: relative;
            top: 10px;
            width: 7px;

            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .active .chzn-container-single b {
            border-color: #666;
        }

        .chzn-container-single .chzn-search {
            display: none;
            margin: 0;
            position: relative;
            white-space: nowrap;
            z-index: 1010;
        }

        .chzn-container-single .chzn-drop {
          margin-top: -1px;
        }
        .chzn-container-single-nosearch .chzn-search {
            left: -9999px;
            position: absolute;
        }
        .chzn-container-single .chzn-results {
            list-style: none;
            margin: 0;
            padding: 5px 0;
        }
        .region-select .chzn-container-single .chzn-drop {
            margin: 0;
        }
        .region-select .chzn-container-single .chzn-results {
            padding: 0;
        }
            .chzn-results li {
                box-sizing: border-box;
                color: #000;
                cursor: pointer;
                font: 300 14px/24px "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
                height: 24px;
                padding: 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .chzn-results li:hover {
                color: #666;
            }
            .region-select .chzn-results li {
                height: 21px;
                line-height: 21px;
            }

/*  
*
*   Style for region select
*   Используется для кастомного селекта выбора языка
*
*/

.region-select {
    position: absolute;
    top: 90px;
}
    .region-select .chzn-container {
        font-family: Arial;
        float: left;
        text-transform: uppercase !important;
        min-width: 80px !important;
    }
    .region-select .chzn-with-drop .chzn-single div {
        height: 22px;
    }
    .region-select .chzn-single {
        box-shadow: none;
        color: #555;
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        overflow: visible;
        padding: 0 0 0 20px;
        text-transform: uppercase;
        z-index: 1111;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
        .region-select .chzn-single span {
            height: 14px !important;
            margin: 0;
        }
    .region-select .chzn-single div {
        background-color: #ffe400;
        height: 18px;
        left: -1px;
        right: auto;
        top: -1px;
        width: 17px;
    }
    .region-select .chzn-single b {
        height: 5px;
        left: 5px;
        top: 5px;
        width: 5px;
    }
    .region-select .chzn-drop {
        width: 105px;
    }
    .region-select .chzn-drop:before {
        background-color: #ffe400;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
            left: -1px;
            top: 1px;
        width: 17px;
    }
        .region-select .chzn-drop li {
            font-size: 10px;
            overflow: hidden;
            padding: 0 0 0 20px;
            text-transform: uppercase;
        }

.select-fixed .chzn-container,
.select-fixed .chzn-container-single .chzn-single {
    width: 286px !important;
}


/* ==========================================================================
   $PLUGINS 
        $SCROLLER
   ========================================================================== */

.scroller__wrapper {
    position: relative;
}   
    .scroller_conditional{
        overflow-y: auto !important;
    }
    .scroller {
        overflow-y: scroll !important;
    }
    .scroller::-webkit-scrollbar {
        width: 0;
    }
    .possibleScroll .scroller_hideShow__track,
    .possibleScroll .scroller_active__track,
    .possibleScroll .scroller_h_table_body__track,
    .possibleScroll .scroller_table_body__track,
    .possibleScroll .scroller_conditional__track,
    .possibleScroll .scroller_function__track,
    .possibleScroll .scroller_table__track,
    .possibleScroll .scroller__track {
        display: block;
    }
    .scroller_hideShow__track,
    .scroller_active__track,
    .scroller_h_table_body__track,
    .scroller_table_body__track,
    .scroller_conditional__track,
    .scroller_function__track,
    .scroller_table__track,
    .scroller__track {
        display: none;
        background: transparent;
        position: absolute;
            right: 0;
            top: 10px;
            bottom: 10px;
        width: 10px;
    }   
        .table_scroller__bar,
        .scroller__bar {
            background: #ccc;
            position: absolute; 
            right: 0;   
            width: 10px;
            z-index: 10002;
        }
            .scroller__bar.scroller__bar_h {
                bottom: 0;
                height: 10px;
            }

.highlighted-search {
    background: #feff40;
}

.resizable {
    position: relative;
    height: 25%;
    min-height: 25%;
}
.resizable_topRow {
    height: 50%;
    min-height: 50%; 
}
.resizable .layoutWithColumn__wrapper {
  border-top: 0;
}
.resizable .layoutWithColumn__leftColumn {
  box-shadow: none !important;
}
.resizable-handler {
  border: solid #ddd;
  border-width: 1px 0;
  box-shadow: -3px 0 3px #eee;
  cursor: ns-resize;
  position: absolute;
    top: auto;
    left: 0;
  height: 2px;
  width: 100%;
  z-index: 10001;
}

/* ==========================================================================
   $PLUGINS 
        $SLICKGRID
   ========================================================================== */

/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header.ui-state-default, 
.slick-headerrow.ui-state-default {
    width: 100%;
    overflow: hidden;
    border-left: 0px;
}

.slick-header-columns, 
.slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  float: left;
}
    
    .defaultTable .slick-header-column {
        font-weight: 600;
        text-transform: uppercase;
        border-left: 1px solid #e2e2e2;
        padding: 0 7px 20px;
        text-align: left;
    }

.slick-headerrow-column.ui-state-default {
  padding: 4px;
}

.slick-header-column-sorted {
  font-style: italic;
}

.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

.slick-sort-indicator-desc {
  background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
  background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 1px;
  border-right: 1px solid #e2e2e2;
  right: 0px;
  top: 0;
  height: 100%;
  background: transparent;
}
.slick-resizable-handle:hover {
  width: 3px;
  background: #e2e2e2;
}

.slick-sortable-placeholder {
  background: silver;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

.slick-cell, .slick-headerrow-column {
    border: 1px solid transparent;
    cursor: default;
    padding: 1px 2px 2px 1px;
    position: absolute;
    margin: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    z-index: 1;
}

    .defaultTable .slick-cell {
        border-left: 1px solid #e2e2e2;
        padding: 0 7px;
        text-align: left;
    }

.slick-group-toggle {
  display: inline-block;
}

.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-cell.flashing {
  border: 1px solid red !important;
}

.slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

.slick-cell:focus {
  outline: none;
}

.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}


/* ==========================================================================
   $PLUGINS 
        $TOOLTIPS
   ========================================================================== */

.tooltip {
    color: #000;
    display: none;
    font-size: 14px;
    position: absolute;
    padding: 0 12px;
    height: 47px;
    line-height: 47px;
    z-index: 10000;
}
  .tooltip__close {
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    position: absolute;
      top: 0;
      right: 2px;
    text-decoration: none;
  }
  .tooltip-error {
    background: #f7d7c7;
    box-shadow: 2px 2px 0 0 #e2aa8f;
  }
    .tooltip-error .tooltip__close {
      color: #c17b59;
    }

  .tooltip:after {
    background: url(../images/tooltip-triangle.png) no-repeat 0 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 18px;
    height: 13px;
  }

/* ==========================================================================
   $PLUGINS 
        $FANCYBOX
   ========================================================================== */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    background: #f9f9f9;
    color: #444;
    position: relative;
    text-shadow: none;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../images/fancybox/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../images/fancybox/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    background: url(../images/fancybox/fancybox_overlay.png);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url(../images/fancybox/fancybox_sprite@2x.png);
        background-size: 44px 152px;
    }

    #fancybox-loading div {
        background-image: url(../images/fancybox/fancybox_loading@2x.gif);
        background-size: 24px 24px;
    }
}


#helpMenu a.active {
    border-bottom: 2px solid #5ab7e3;
}



/** Cross-copy overlay */

.header-overlay,  .selection-cell-overlay {
    display: block;
    position: absolute;
    z-index: 999;
}
 .selection-cell-overlay {
    background-color: #5AB7E3;
    #border-color: #5AB7E3;
}

.handle-overlay {
    border: 1px solid white;
    padding: 2px;
    background-color: #5AB7E3;
    position: absolute;
    width: 1px;
    z-index: 3;
    cursor: crosshair;
}

.overlay-handle-decorator {
    border: 2px solid #5AB7E3;
    z-index: 1000;
}
