/* ==========================================================================
    styleguide.css
    @author: Alexey Shestakov <har.Storm@mail.ru>
    @description: Project styleguide (All standart elements, layout classes, buttons, colors, typography and other)
                  Styleguide. Оформление всех типовых элементов, блоков, шаблонов, а также различных кнопок, ссылок и прочее

    $CONTENTS (Оглавление)
    ========================================================================== */

/**
*   CONTENTS............ You’re reading it!
*   TYPOGRAPHY ......... Font styles for headings, elements and others
*   NAVIGATION ......... Standart styles for menu elements
*   TABS ............... Styles for tabs
*   TABLES ............. Styles for default table
*   BUTTONS ............ Buttons. All sizes and colors
*   STYLE ICONS ........ Icons for project.
*   FORMS .............. 
*   POPUPS ............. 
*   INFOBOXES .......... Like alert blocks in Twitter Bootstrap
*/

/* ==========================================================================
   $TYPOGRAPHY
   ========================================================================== */

h1, .h1 {
    color: #333;
    font: 100 48px/1.2em "Segoe UI Light", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 20px;
}

h2, .h2 {
    color: #333;
    font: 100 38px/1.2em "Segoe UI Light", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 38px;
}

h3, .h3 {
    color: #333;
    font: 300 28px/1.2em "Segoe UI Light", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h4, .h4,
h5, h6 {
    color: #333;
    font: 300 18px/1.2em "Segoe UI Light", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

/* ==========================================================================
    $NAVIGATION
   ========================================================================== */

nav ul,
nav ol,
.nav,
.nav_horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_horizontal > li {
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
    white-space: nowrap;
}

.nav_horizontal > li.first,
.nav_horizontal > li:first-child {
    padding-left: 0;
}

.nav_horizontal > li:last-child,
.nav_horizontal > li.last {
    padding-right: 0;
    margin-right: 0;
}

/* ==========================================================================
    $TABS
   ========================================================================== */

.tabs {
    background: #f6f6f6;
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px;
}

.tabs::before {
    border-right: 18px solid #f6f6f6;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    content: '';
    position: absolute;
    left: -18px;
    height: 0;
}

.tabs li {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0 26px 0 4px;
    line-height: 36px;
    vertical-align: top;
}

/* ==========================================================================
   $TABLES
   ========================================================================== */

.defaultTable {
    color: #333;
    font-weight: 300;
    width: 99%;
}

.defaultTable thead th,
.defaultTable tbody td {
    border-left: 1px solid #e2e2e2;
    padding: 7px;
    text-align: left;
}

.defaultTable thead th {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 20px;
}

.defaultTable tr > th:first-child,
.defaultTable tr > td:first-child {
    border-left: 0;
}

.defaultTable_gray th,
.defaultTable_gray thead td {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding: 15px 7px 0;
}

.defaultTable_gray td {
    padding: 6px 7px;
}

.defaultTable_selectable tbody tr:hover > td {
    background: #def1f9;
    cursor: pointer;
}

.defaultTable_selectable tbody tr > th {
    font-weight: normal;
}

.defaultTable_selectable tbody tr.selected > td {
    background: #5ab7e3;
    color: #fff;
}

.defaultTable_selectable tbody tr.selected > td .link_ajax,
.defaultTable_selectable tbody tr.selected > td a {
    color: #fff;
    border-bottom-color: #fff;
}

.defaultTable_selectable tbody tr:hover > td .link_ajax:hover,
.defaultTable_selectable tbody tr.selected > td .link_ajax:hover,
.defaultTable_selectable tbody tr:hover > td a:hover,
.defaultTable_selectable tbody tr.selected > td a:hover {
    border-bottom-color: transparent;
}

.defaultTable .checkboxCell {
    width: 14px;
}

.defaultTable-skin2 thead {
    background: #f6f6f6;
}

.defaultTable-skin2 thead th {
    border-right: 1px solid #e5e5e5;
    font: bold 14px/16px "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 5px 15px;
    text-align: left;
}

.defaultTable-skin2 tbody td {
    border: 1px solid #e5e5e5;
    padding: 5px 15px;
}

/*  ===========================================================================
    $BUTTONS
    =========================================================================== */

.btn {
    background-clip: padding-box;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;

    -webkit-background-clip: padding;
    -moz-background-clip: padding;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/*
* Различные модификаторы для кнопок.
* 1. Размеры
* 2. Цвета
*/
.btn_small {
    font-size: 14px;
    padding: 0 7px;
    height: 28px;
    line-height: 28px;
}

.btn_medium {
    height: 35px;
    line-height: 35px;
    min-width: 85px;
}

.btn_big {
    height: 56px;
    line-height: 56px;
}

.btn_medium.btn_red,
.btn_medium.btn_red_light,
.btn_medium.btn_blue {
    height: 29px;
    line-height: 29px;
}

.btn_blue {
    background-color: #59b7e3;
    border: 3px solid #59b7e3;
    box-shadow: 0 1px 0 #3396c6;

    -webkit-box-shadow: 0 1px 0 #3396c6;
    -moz-box-shadow: 0 1px 0 #3396c6;
}

.btn_blue:hover {
    background: transparent;
    border-color: #59b7e3;
    box-shadow: 0 0 0 white;
    color: #59b7e3 !important;

    -webkit-box-shadow: 0 0 0 white;
    -moz-box-shadow: 0 0 0 white;
}

.btn_green {
    background-color: #75c345;
    border: 3px solid #75c345;
    box-shadow: 0 1px 0 #5ba72c;

    -webkit-box-shadow: 0 1px 0 #5ba72c;
    -moz-box-shadow: 0 1px 0 #5ba72c;
}

.btn_green:hover {
    background: transparent;
    border-color: #75c345;
    box-shadow: 0 0 0 white;
    color: #75c345 !important;
    margin-bottom: -1px;
    padding-bottom: 1px;

    -webkit-box-shadow: 0 0 0 white;
    -moz-box-shadow: 0 0 0 white;
}

.btn_greenSwamp {
    background-color: #97c881;
    border: 3px solid #97c881;
    box-shadow: 0 1px 0 #97c881;

    -webkit-box-shadow: 0 1px 0 #97c881;
    -moz-box-shadow: 0 1px 0 #97c881;
}

.btn_red {
    background-color: #d9350f;
    border: 3px solid #d9350f;
    color: #fff !important;
}

.btn_red_light {
    background-color: #ee5d4c;
    border: 3px solid #ee5d4c;
    color: #fff !important;
}

.btn_red:hover,
.btn_red_light:hover {
    background: transparent;
    border-color: #d9350f;
    color: #d9350f !important;
}

.btn_triangled,
.btn_triangled:hover {
    color: #fff !important;
    border: 0 !important;
    border-radius: 0 5px 5px 0;
    box-shadow: none !important;
    padding-bottom: 0 !important;
    position: relative;
}

.btn_triangled.btn_red_light {
    background-color: #ee5d4c;
}

.btn_triangled.btn_green {
    background-color: #dcecd3;
    color: #4b961d !important;
}

.btn_triangled:before {
    border-width: 18px 14px 18px 0;
    border-style: solid;
    content: '';
    position: absolute;
    top: 0;
    left: -14px;
    height: 0;
    width: 0;
}

.btn_triangled.btn_red_light:before {
    border-color: transparent #ee5d4c transparent transparent;
}

.btn_triangled.btn_green:before {
    border-color: transparent #dcecd3 transparent transparent;
}

.btn_circle_plus,
.btn_circle_edit,
.btn_circle_pause,
.btn_circle_delete,
.btn_circle_delete-active {
    background: url(../images/icon-all.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 21px;
    width: 21px;
}

.btn_circle_plus {
    background-position: -917px -111px;
    margin: 7px 0 0;
    height: 28px;
    width: 28px;
}

.updateGroup .btn_circle_plus,
.btn_circle_plus-update {
    background-position: -917px -145px;
}

.btn_circle_edit {
    background-position: -1510px -3px;
}

.btn_circle_edit:hover {
    background-position: -1510px -54px;
}

.btn_circle_edit:active,
.btn_circle_edit-active,
.btn_circle_edit-active:hover,
.addGroup .navParser__status-edited .btn_circle_edit {
    background-position: -1510px -114px;
}

.updateGroup .navParser__status-edited .btn_circle_edit {
    background-position: -1510px -149px;
}

.btn_circle_pause {
    background-position: -1535px -3px;
}

.btn_circle_pause:hover,
.btn_circle_pause-disabled,
.btn_circle_pause-disabled:hover {
    background-position: -1535px -54px;
}

.btn_circle_delete {
    background-position: -1558px -3px;
}

.btn_circle_delete:hover {
    background-position: -1558px -54px;
}

.btn_circle_delete-active,
.btn_circle_delete-active:hover {
    background-position: -1558px -114px;
}

/* ==========================================================================
   $STYLE ICONS
   ========================================================================== */

.icon-open, .icon-share, .icon-rename, .icon-history, .icon-copy, .icon-delete, .icon-edit, .icon-block, .icon-restore, .icon-truncate {
    background: url(../images/action_icons.png) no-repeat;
    display: inline-block;
    height: 25px;
    vertical-align: top;
}

.icon-open {
    background-position: 0 -177px;
    width: 19px;
}

.icon-share {
    background-position: -88px -177px;
    width: 31px;
}

.icon-rename {
    background-position: -201px -177px;
    width: 37px;
}

.icon-history {
    background-position: -355px -177px;
    width: 21px;
}

.icon-copy {
    background-position: -498px -177px;
    width: 20px;
}

.icon-delete {
    background-position: -604px -177px;
    width: 20px;
}

.icon-edit {
    background-position: -694px -177px;
    width: 24px;
}

.icon-block {
    background-position: -801px -177px;
    width: 24px;
}

.icon-restore {
    background-position: -919px -177px;
    height: 26px;
    width: 24px;
}

.icon-truncate {
    background-position: -1045px -177px;
    width: 30px;
}

.icon-open:hover, .icon-share:hover, .icon-rename:hover, .icon-history:hover, .icon-copy:hover, .icon-delete:hover, .icon-edit:hover, .icon-block:hover, .icon-restore:hover, .icon-truncate:hover,
a:hover .icon-open, a:hover .icon-share, a:hover .icon-rename, a:hover .icon-history, a:hover .icon-copy, a:hover .icon-delete, a:hover .icon-edit, a:hover .icon-block, a:hover .icon-restore, a:hover .icon-truncate {
    background-position-y: -92px;
}

.disabled .icon-open, .disabled .icon-share, .disabled .icon-rename, .disabled .icon-history, .disabled .icon-copy, .disabled .icon-delete, .disabled .icon-edit, .disabled .icon-block, .disabled .icon-restore, .disabled .icon-truncate,
.disabled:hover .icon-open, .disabled:hover .icon-share, .disabled:hover .icon-rename, .disabled:hover .icon-history, .disabled:hover .icon-copy, .disabled:hover .icon-delete, .disabled:hover .icon-edit, .disabled:hover .icon-block, .disabled:hover .icon-restore, .disabled:hover .icon-truncate {
    background-position-y: -1px;
}

.ico_enter,
.ico_enter:hover,
.checkbox-wrap label:after,
.popup__close {
    background: url(../images/images-s7cb428566c.png) no-repeat;
}

.ico_ask {
    border: 2px solid #5a5959;
    border-radius: 100px;
    color: #5a5959;
    font-style: normal;
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 22px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
}

.ico_ask:before {
    content: '?';
    display: block;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 22px;
}

.ico_ask:hover {
    color: #aaa;
}

.ico_enter {
    background-position: -52px -26px;
    display: block;
    height: 26px;
    width: 51px;
}

.ico_enter:hover {
    background-position: 0 0;
}

.table_ico {
    background: url(../images/icon-all.png) no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}
.size21 {
    width: 21px;
    height: 21px;
}

.ico_cut {
    background-position: -216px -1px;
}

.actionLink:hover .ico_cut {
    background-position: -216px -52px;
}

.ico_copy {
    background-position: -252px -1px;
}

.actionLink:hover .ico_copy {
    background-position: -252px -52px;
}

.ico_paste {
    background-position: -287px -1px;
}

.actionLink:hover .ico_paste {
    background-position: -287px -52px;
}

.ico_bold {
    background-position: -706px -3px;
}

.ico_bold:hover {
    background-position: -706px -54px;
}
.ico_bold:active, .active > .ico_bold {
    background-position: -706px -114px;
}

.ico_italic {
    background-position: -728px -3px;
}

.ico_italic:hover {
    background-position: -728px -54px;
}

.ico_italic:active, .active > .ico_italic {
    background-position: -728px -114px;
}

.ico_underline {
    background-position: -750px -4px;
}

.ico_underline:hover {
    background-position: -750px -55px;
}

.ico_underline:active, .active > .ico_underline {
    background-position: -750px -113px;
}

.ico_wraptext {
    background-position: -359px -1px;
}

.actionLink:hover .ico_wraptext {
    background-position: -359px -52px;
}

.ico_offset {
    background-position: -323px -1px;
}

.actionLink:hover .ico_offset {
    background-position: -323px -52px;
}

.ico_columnLeft {
    background-position: -795px -3px;
}

.ico_columnLeft:hover {
    background-position: -795px -54px;
}
.ico_columnLeft:active, .active > .ico_columnLeft {
    background-position: -795px -114px;
}

.ico_columnMid {
    background-position: -820px -3px;
}

.ico_columnMid:hover {
    background-position: -820px -54px;
}
.ico_columnMid:active, .active > .ico_columnMid {
    background-position: -820px -114px;
}

.ico_columnRight {
    background-position: -844px -3px;
}

.ico_columnRight:hover {
    background-position: -844px -54px;
}
.ico_columnRight:active, .active > .ico_columnRight {
    background-position: -844px -114px;
}

.ico_borderFull {
    background-position: -508px -3px;
}

.ico_borderFull:hover {
    background-position: -508px -54px;
}
.ico_borderFull:active, .active > .ico_borderFull {
    background-position: -508px -114px;
}

.ico_borderSides {
    background-position: -537px -3px;
}

.ico_borderSides:hover {
    background-position: -537px -54px;
}
.ico_borderSides:active, .active > .ico_borderSides {
    background-position: -537px -114px;
}

.ico_borderTop {
    background-position: -566px -3px;
}

.ico_borderTop:hover {
    background-position: -566px -54px;
}
.ico_borderTop:active, .active > .ico_borderTop {
    background-position: -566px -114px;
}

.ico_borderLeft {
    background-position: -595px -3px;
}

.ico_borderLeft:hover {
    background-position: -595px -54px;
}
.ico_borderLeft:active, .active > .ico_borderLeft {
    background-position: -595px -114px;
}

.ico_borderRight {
    background-position: -624px -3px;
}

.ico_borderRight:hover {
    background-position: -624px -54px;
}
.ico_borderRight:active, .active > .ico_borderRight {
    background-position: -624px -114px;
}

.ico_borderBottom {
    background-position: -653px -3px;
}

.ico_borderBottom:hover {
    background-position: -653px -54px;
}
.ico_borderBottom:active, .active > .ico_borderBottom {
    background-position: -653px -114px;
}

.ico_borderNone {
    background-position: -680px -3px;
}

.ico_borderNone:hover {
    background-position: -680px -54px;
}
.ico_borderNone:active, .active > .ico_borderNone {
    background-position: -680px -114px;
}

.ico_valuesformat {
    background-position: -395px -1px;
}

.actionLink:hover .ico_valuesformat {
    background-position: -395px -52px;
}

.ico_condformat {
    background-position: -431px -1px;
}

.actionLink:hover .ico_condformat {
    background-position: -431px -52px;
}

.ico_templateformat {
    background-position: -467px -1px;
}

.actionLink:hover .ico_templateformat {
    background-position: -467px -52px;
}

.ico_lock {
    background-position: -954px -1px;
}

.actionLink:hover .ico_lock {
    background-position: -954px -52px;
}

.ico_unlock {
    background-position: -1025px -1px;
}

.actionLink:hover .ico_unlock {
    background-position: -1025px -52px;
}

.ico_check {
    background-position: -989px -1px;
}

.actionLink:hover .ico_check {
    background-position: -989px -52px;
}

.ico_addNote {
    background-position: -1061px -1px;
}

.actionLink:hover .ico_addNote {
    background-position: -1061px -52px;
}

.ico_pasteCell {
    background-position: -1097px -1px;
}

.actionLink:hover .ico_pasteCell {
    background-position: -1097px -52px;
}

.ico_removeCell {
    background-position: -1132px -1px;
}

.actionLink:hover .ico_removeCell {
    background-position: -1132px -52px;
}

.ico_pasteColumn {
    background-position: -1168px -1px;
}

.actionLink:hover .ico_pasteColumn {
    background-position: -1168px -52px;
}

.ico_removeColumn {
    background-position: -1204px -1px;
}

.actionLink:hover .ico_removeColumn {
    background-position: -1204px -52px;
}

.ico_hideShowColumn {
    background-position: -1276px -1px;
}

.actionLink:hover .ico_hideShowColumn {
    background-position: -1276px -52px;
}

.ico_newField {
    background-position: -1240px -1px;
}

.actionLink:hover .ico_newField {
    background-position: -1240px -52px;
}

.ico_newTable {
    background-position: -1312px -1px;
}

.actionLink:hover .ico_newTable {
    background-position: -1312px -52px;
}

.ico_renameTable {
    background-position: -1348px -1px;
}

.actionLink:hover .ico_renameTable {
    background-position: -1348px -52px;
}

.ico_setAccess {
    background-position: -1384px -1px;
}

.actionLink:hover .ico_setAccess {
    background-position: -1384px -52px;
}

.ico_historicChange {
    background-position: -1420px -1px;
}

.actionLink:hover .ico_historicChange {
    background-position: -1420px -52px;
}

.ico_back {
    background-position: 0 -112px;
}

.actionLink:hover .ico_back {
    background-position: 0 -1px;
}

.disable .ico_back {
    background-position: 0 -52px !important;
}

.ico_prev {
    background-position: -36px -112px;
}

.actionLink:hover .ico_prev {
    background-position: -36px -1px;
}

.disable .ico_prev {
    background-position: -36px -52px !important;
}

.ico_filter {
    background-position: -72px -112px;
}

.actionLink:hover .ico_filter {
    background-position: -72px -1px;
}

.ico_sort {
    background-position: -108px -112px;
}

.actionLink:hover .ico_sort {
    background-position: -108px -1px;
}

.ico_sum {
    background-position: -144px -112px;
}

.actionLink:hover .ico_sum {
    background-position: -144px -1px;
}

.ico_function {
    background-position: -180px -112px;
}

.actionLink:hover .ico_function {
    background-position: -180px -1px;
}

/*  ===========================================================================
    $FORMS.
    =========================================================================== */

label {
    color: #444;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

label a {
    border-bottom: 0 !important;
    text-decoration: underline !important;
}

label a:hover {
    text-decoration: none !important;
}

.sp-input,
.slick-headerrow-column input,
.textbox {
    background-color: rgba(255, 255, 255, 0.97);
    border: 1px solid #d4d4d4;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    height: 35px;
    outline: 0;
    padding: 0 5px;
    width: 289px;

    -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chzn-container.disabled .chzn-single,
.textbox:disabled {
    background-color: #f6f6f6;
}

textarea.textbox {
    padding: 5px;
}

.textbox_small {
    width: 117px;
}

.textboxHelper {
    background: #f6f6f6;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 14px;
    line-height: 36px;
    margin: 0 0 0 18px;
    padding: 0 12px 0 4px;
    height: 36px;
}

.textboxHelper:before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 18px solid #f6f6f6;
    content: '';
    position: absolute;
    left: -18px;
    top: 0;
    height: 0;
    width: 0;
}

/*
* Custom checkbox
*/

.checkbox-wrap {
    display: inline-block;
    position: relative;
    margin: 0 35px 0 0;
}

.checkbox-wrap input[type=checkbox] {
    clip: rect(0, 0, 0, 0);
    position: absolute !important;
}

.checkbox-wrap label {
    cursor: pointer;
    padding-left: 25px;
    line-height: 24px;
}

.checkbox-wrap label:after {
    background-position: -16px -26px;
    content: " ";
    display: inline-block;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 18px;
}

.checkbox-wrap input[type=checkbox]:checked + label:after {
    background-position: -34px -26px;
    height: 18px;
    width: 18px;
}

/*  ===========================================================================
    $POPUPS
    =========================================================================== */

.overlay {
    background: url(../images/overlay.png);
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    opacity: 0.6;
}

.overlay_access {
    background: url(../images/overlay.png);
    display: none;
    height: 420px;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 700px;
    z-index: 100002;
    margin: -210px 0 0 -350px;
    opacity: 0.6;
}

.popup {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background: #fff;
    display: none;
    margin: 0 0 0 -301px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 100px;
    width: 560px;
    z-index: 100001;
}

.popup h3,
.contentAuthForm h3 {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    vertical-align: top;
}

.popup h4 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    margin: 0;
}

.contentAuthForm h3 {
    font-size: 24px;
}

.popup p {
    color: #333;
    padding-bottom: 18px;
}

.popup a {
    color: #333;
}

.popup_notify {
    padding-bottom: 0;
}

.popup__close {
    background-position: 0 -26px;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 9px;
    top: 7px;
    width: 16px;
}

.popup .popup__rightLink,
.contentAuthForm .contentAuthForm__rightLink {
    border-bottom: 1px dotted #999;
    color: #999;
    font-size: 24px;
    font-weight: 100;
    margin: 0 20px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.contentAuthForm .contentAuthForm__rightLink {
    border-bottom: 1px solid #999;
}

.popup .popup__rightLink:hover,
.contentAuthForm .contentAuthForm__rightLink:hover {
    border-bottom: 0;
}

.popup .popup__rightLink.active {
    border-bottom: 0;
    color: #000;
}

/*  ===========================================================================
    $INFOBOXES
    =========================================================================== */

.infobox {
    background: #def1f9;
    position: relative;
    margin: 30px 0 20px;
    max-width: 850px;
}

.infobox-update {
    background: #e3f3da;
}

.infobox .infobox-icon {
    background: url(../images/icon-info.png) no-repeat center center;
    position: absolute;
    left: 0;
    height: 39px;
    width: 39px;
}

.infobox p {
    border-left: 39px solid #5ab7e3;
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    min-height: 30px;
    padding: 4px 8px;
    margin: 0;
}

.infobox.infobox-update p {
    border-left: 39px solid #75c345;
}
.hidden{
    display:none;
}

.checkbox_field{
    display: inline-block;
}
.checkbox_field input{
    display: none;
}
.checkbox_field label.icon{
    padding:0;
    margin:0;
    display: block;
    width:19px;
    height:19px;
    background: url(../images/checkboxes.png) no-repeat -27px 0;
}
.checkbox_field input:checked + label.icon{
    background-position: -1px 0;
}
.clearfix{
    clear: both;
}